/* footer.css */

footer {
  background-color: #333;
  color: #fff;
  padding: 16px 0;
  display: flex;
  align-items: center;
  height: 120px;
}

.p {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer p,
footer a {
  font-size: 20px;
  margin-left: 90px;
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: var(--secondary);
  border-bottom: 1px solid white;
}

.social-media {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-media p {
  margin-right: 10px;
}

.social-media ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
  margin-right: 300px;

}

.social-media li a {
  color: white;
  text-decoration: none;
}

.social-media li a:hover {
  color: var(--secondary);
  border-bottom: 1px solid white;
}

