header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: var(--primary);
  padding: 5px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99999999;
  height: 8vh;
}

header .logo {
  font-size: 25px;
  color: var(--third);
  font-family: poppins;
}

header .navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

header .navbar ul li {
  position: relative;
  margin-right: 10px;
}

header .navbar ul li:last-child {
  margin-right: 0;
}

header .navbar ul li a {
  font-family: poppins;
  font-size: 22px;
  padding: 20px;
  color: var(--third);
  display: block;
  transition: 0.2s;
}

header .navbar ul li a:hover {
  color: #ff0a7a;
}

/* header .navbar ul li:hover {
  background: var(--secondary);
  border-radius: 8px;
} */

.login {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login:hover {
  background-color: var(--secondary);
}
.burger-icon{
  font-size: 40px;
  color: var(--secondary);
  position: fixed;
  top: 30px;
  left: 40px;
  z-index:999999999;
}

.sideBar-home{
  width: 0;
  transition: 1s all;
}
.Togell-links{
  width: 70%;
  display: flex-inline-block;
  flex-direction: column;
}
.Togell-links div{
  position: absolute;
  top: 120px;
  right: 90px;
  font-size: 25px;
}
.Togell-links div a{
  color: var(--third);
}
.navbar-togell ul{
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
}
.navbar-togell ul li {
  list-style: none;

}
.navbar-togell ul li a{
  color: var(--secondary);
}
.open{
  width: 80%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  transition: 0.3s all;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  header {
    position: absolute;
  }
  header .navbar ul {
    display: none;
  }

  header .navbar .burger-icon {
    display: block;
  }

  header .navbar .burger-icon span {
    display: block;
    width: 30px;
    height: 4px;
    background: var(--third);
    margin-bottom: 6px;
    transition: transform 0.3s ease-in-out;
  }

  header .navbar .burger-icon.open span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  header .navbar .burger-icon.open span:nth-child(2) {
    opacity: 0;
  }

  header .navbar .burger-icon.open span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
}
